@use "reset";
@use "variables" as v;
@import "mixin";

#product {
    margin-top: 5rem;
    .btn-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        grid-column: 2;
        margin-top: 3rem;
        
    }
}

form {
    background: v.$gradient-black;
    box-shadow: v.$box-shadow-dark;
    padding: 4rem;
    border-radius: 1.5rem;

}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10rem;
    row-gap: 3rem;
}

form label {
    display: block;
    font-size: 1.7rem;
}

form p {
    margin: 0;
}

.form-container {

    display: flex;
    align-items: center;
    justify-content: center;
}

input,
option,
select {
    background: v.$gradient-blacklight;
    border: 0;
    outline: 0;
    color: white;
    padding: 0.5rem 0.8rem;
    width: 100%;
}

.custom-select option {
    background: rgb(39, 39, 39);
}


.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: white 1px solid;
    width: 6rem;
    border-radius: 1.3rem;
    color: white;
    font-size: 2rem;
    padding: 0.2rem;
    
  
}